In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
df.shape

(16, 4)

In [5]:
X= df.drop(['salary_more_then_100k'],axis='columns')

In [6]:
X.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [8]:
y=df.salary_more_then_100k
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

### ML algorithms cannot read words so we have to convert them into number

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [13]:
X['company1']= le.fit_transform(X['company'])
X['job1']= le.fit_transform(X['job'])
X['degree1']= le.fit_transform(X['degree'])
X.head()

  company                  job     degree  company1  job1  degree1
0  google      sales executive  bachelors         2     2        0
1  google      sales executive    masters         2     2        1
2  google     business manager  bachelors         2     0        0
3  google     business manager    masters         2     0        1
4  google  computer programmer  bachelors         2     1        0

In [16]:
X1= X.drop(['company','job','degree'],axis='columns')
X1.head()

   company1  job1  degree1
0         2     2        0
1         2     2        1
2         2     0        0
3         2     0        1
4         2     1        0

#### Decision Tree

In [17]:
from sklearn import tree
model= tree.DecisionTreeClassifier()

In [18]:
model.fit(X1,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [19]:
model.score(X1,y)

1.0

In [22]:
model.predict([[2,0,1]])

array([1], dtype=int64)

In [ ]:
model.predict([])